SA_PASSWORD=1!Qwertyui
MASTER_RO_PASSWORD=1!Qwertyui
SPRINGFIELD_DB_PASSWORD=1!Qwertyui
SHELBYVILLE_DB_PASSWORD=1!Qwertyui
# GOVERP_WEB_IMAGE=klebanab/goverp-web:latest
EXPLANATION_PROVIDER=Template
EXPLANATION_MODEL=
EXPLANATION_ENDPOINT=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
